webpack(imports/exports)
 Babel
 Scss
 eslint
 2 mods
  - Dev
    Dev server, SourceMaps, Eslint, Not minified js & css
  - Prod
    Minified Code

Git

Production
  2.0.0
  0-------------
Development
  1.0.2
  1----------------
  